html,body{
    width: 100%;
    height: 100%;/*这样就是只展示一屏让滚动条隐藏*/
    overflow: hidden;
    background: #eee;
    font-family: 'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;
}
html{
    font-size: 100px;/*使用rem响应式布局*/
}
/*main只是为了留白用的*/
.main{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/*music*/
.music{
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: .6rem;
    height: .6rem;
    z-index: 200;
    background: url("../audio/music.svg") no-repeat;
    background-size: 100% 100%;
}
.music audio{
    display: none;
}
.music.move{
    -webkit-animation: musicMove 1s linear 0s infinite both;
    animation: musicMove 1s linear 0s infinite both;
}
@-webkit-keyframes musicMove {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes musicMove {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/*--swiper--*/
.swiper-container, .swiper-wrapper, .swiper-slide {
    width: 100%;/*意思都是一屏显示*/
    height: 100%;
}
.swiper-slide{
    position: relative;
    transform-style: preserve-3d;
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
}
.swiper-slide img,.swiper-slide span{
    position: absolute;
    opacity: 0;
    /*刚开始让所有图片都是0 当运动动画开始的时候 100%的时候让它为1 这样就不会出现刚进来先展示页面后执行动画了*/
}
/*--slide1  每个高度都减去了0.82rem--*/

.slide1 .img1{
    top: .82rem;
    left: 1.46rem;
    width: 3.5rem;
    height: 3.5rem;
}
.slide1 .img2{
    top: .96rem;
    left: 1.62rem;
    width: 3.18rem;
    height: 3.18rem;
}
.slide1 .img3{
    top: 1.08rem;
    left: 1.7rem;
    width: 2.96rem;
    height: 2.96rem;
    border-radius: 50%;
}
.swiper-slide span{
    color: #fff;
    letter-spacing: .1em;
}
.slide1 .span1{
    top: 4.44rem;
    left: 1.66rem;
    letter-spacing: .25em;
}
.slide1 .span2{
    top: 4.64rem;
    left: 1.64rem;
    font-size: .64rem;
    font-weight: bold;
    letter-spacing: .25em;
}
.slide1 .text4{
    position: absolute;
    width: 3.03rem;
    height: .08rem;
    top: 5.58rem;
    left: 1.66rem;
}
.slide1 .img4{
    top: 0;
    left: 0;
    width: 3.02rem;
    height: .08rem;
}
.slide1 .span3{
    top: 5.8rem;
    left: 2rem;
}
.slide1 .span4{
    top: 7.06rem;
    left: 1.52rem;
}
.slide1 .span5{
    top: 7.06rem;
    left: 3.36rem;
}
.slide1 .span6{
    top: 7.87rem;
    left: 2.4rem;
    z-index: 1;
    color: #000;
    letter-spacing: .5em;
    font-weight: bold;
    font-size: .24rem;
}
.slide1 .img5{
    top: 7.68rem;
    left: 1.1rem;
    width: 4.26rem;
    height: .7rem;
}
.slide1 .img6{
    top: 7.88rem;
    left: 1.78rem;
    width: .34rem;
    height: .28rem;
}
.slide1 .img7{
    top: 7.88rem;
    left: 4.42rem;
    width: .34rem;
    height: .28rem;
}

#page1 .img1{
    -webkit-animation: musicMove 3s linear 0s infinite both;
    animation: musicMove 3s linear 0s infinite both;
}
#page1 .img2{
    -webkit-animation: imgMove 2s ease 0s infinite both;
    animation: imgMove 2s ease 0s infinite both;
}
#page1 .img3{
    -webkit-animation: imgMove 2s ease .5s 1 both;
    animation: imgMove 2s ease .5s 1 both;
}
#page1 .span1{
    -webkit-animation: imgMove 2s ease 1s 1 both;
    animation: imgMove 2s ease 1s 1 both;
}
#page1 .span2{
    -webkit-animation: zoomInUp 2s linear 0s 1 both;
    animation: zoomInUp 2s linear 0s 1 both;
}
#page1 .img4{
    -webkit-animation: zoomIn 2s ease 0s 1 both;
    animation: zoomIn 2s ease 0s 1 both;
}
#page1 .span3{
    -webkit-animation: outMove 2s ease 0s 1 both;
    animation: outMove 2s ease 0s 1 both;
}
#page1 .span4{
    -webkit-animation: right 2s ease 1s 1 both;
    animation: right 2s ease 1s 1 both;
}
#page1 .span5{
    -webkit-animation: left 2s ease 1s 1 both;
    animation: left 2s ease 1s 1 both;
}
#page1 .span6{
    -webkit-animation: imgMove 2s ease 0s 1 both;
    animation: imgMove 2s ease 0s 1 both;
}
#page1 .img5{
    -webkit-animation: zoomIn 1.4s ease 0s 1 both;
    animation: zoomIn 1.4s ease 0s 1 both;
}
#page1 .img6,#page1 .img7{
    -webkit-animation: arrow 2s ease 2s 1 both;
    animation: arrow 2s ease 2s 1 both;
}

/*--slide2 每个高度都减去了0.82rem--*/
.slide2 .img1{
    top: .6rem;
    left: 2.34rem;
    width: 1.74rem;
    height: 1.74rem;
}
.slide2 .img2{
    top: .32rem;
    left: 2.02rem;
    width: 2.36rem;
    height: 2.36rem;
}
.slide2 .span1{
    top: 1.03rem;
    left: 2.6rem;
    font-size: .6rem;
    font-weight: bold;
    color: lightseagreen;
}
.slide2 .img3{
    top: 1.32rem;
    left: -.32rem;
    width: 2.12rem;
    height: .26rem;
}
.slide2 .img4{
    top: 1.3rem;
    left: 4.5rem;
    width: 2.24rem;
    height: .26rem;
}
.slide2 .img5{
    top: 3.44rem;
    left: .68rem;
    width: 2.48rem;
    height: 6.42rem;
}
.slide2 .tip{
    width: .36rem;
    height: .36rem;
    left: .52rem;
}
.slide2 .img6{
    top: 4.04rem;
    left: .52rem;
}
.slide2 .img7{
    top: 5.34rem;
}
.slide2 .img8{
    top: 6.64rem;
}
.slide2 .img9{
    top: 7.96rem;
}
.slide2 .tip1{
    width: 4.5rem;
    height: .54rem;
    left: 1.6rem;
}
.slide2 .img10{
    top: 3.94rem;
}
.slide2 .img11{
    top: 5.22rem;
}
.slide2 .img12{
    top: 6.54rem;
}
.slide2 .img13{
    top: 7.84rem;
}
.slide2 .school{
    left: 1.8rem;
    font-size: .28rem;
}
.slide2 .span2{
    top: 4.01rem;
}
.slide2 .span3{
    top: 5.28rem;
}
.slide2 .span4{
    top: 6.61rem;
}
.slide2 .span5{
    top: 7.92rem;
}
#page2 .img1{
    -webkit-animation: bounceIn 1s ease 0s 1 both;
    animation: bounceIn 1s ease 0s 1 both;
}
#page2 .img2{
    -webkit-animation: musicMove 1.5s ease 0s infinite both;
    animation: musicMove 1.5s ease 0s infinite both;
}
#page2 .span1{
    -webkit-animation: imgMove 2s ease 0s 1 both;
    animation: imgMove 2s ease 0s 1 both;
}
#page2 .img3{
    -webkit-animation: left 1s ease 0s 1 both;
    animation: left 1s ease 0s 1 both;
}
#page2 .img4{
    -webkit-animation: right 1s ease 0s 1 both;
    animation: right 1s ease 0s 1 both;
}
#page2 .img5{
    -webkit-animation: bounceInLeft 1s ease .3s 1 both;
    animation: bounceInLeft 1s ease .3s 1 both;
}
#page2 .img6{
    -webkit-animation: left 1s ease .6s 1 both;
    animation: left 1s ease .6s 1 both;
}
#page2 .img7{
    -webkit-animation: left 1s ease .8s 1 both;
    animation: left 1s ease .8s 1 both;
}
#page2 .img8{
    -webkit-animation: left 1s ease 1s 1 both;
    animation: left 1s ease 1s 1 both;
}
#page2 .img9{
    -webkit-animation: left 1s ease 1.2s 1 both;
    animation: left 1s ease 1.2s 1 both;
}
#page2 .img10{
    -webkit-animation: right 1s ease 1s 1 both;
    animation: right 1s ease 1s 1 both;
}
#page2 .img11{
    -webkit-animation: right 1s ease 1.2s 1 both;
    animation: right 1s ease 1.2s 1 both;
}
#page2 .img12{
    -webkit-animation: right 1s ease 1.4s 1 both;
    animation: right 1s ease 1.4s 1 both;
}
#page2 .img13{
    -webkit-animation: right 1s ease 1.6s 1 both;
    animation: right 1s ease 1.6s 1 both;
}
#page2 .span2{
    -webkit-animation: imgMove 1.5s ease 1.4s 1 both;
    animation: imgMove 1.5s ease 1.4s 1 both;
}
#page2 .span3{
    -webkit-animation: imgMove 1.5s ease 1.6s 1 both;
    animation: imgMove 1.5s ease 1.6s 1 both;
}
#page2 .span4{
    -webkit-animation: imgMove 1.5s ease 1.8s 1 both;
    animation: imgMove 1.5s ease 1.8s 1 both;
}
#page2 .span5{
    -webkit-animation: imgMove 1.5s ease 2s 1 both;
    animation: imgMove 1.5s ease 2s 1 both;
}
/*--slide3 每个高度都减去了0.41rem--*/
.slide3 .img1{
    top: .85rem;
    left: .64rem;
    width: .42rem;
    height: .42rem;
}
.slide3 .span1{
    top: .69rem;
    left: 1.5rem;
    font-size: .64rem;
    font-weight: bold;
    font-family: defaultFont;
}
.slide3 .img2{
    top: 4.57rem;
    left: .22rem;
    width: 2.12rem;
    height: 2.12rem;
    border-radius: 50%;
}
.slide3 .line{
    display: inline-block;
    position: absolute;
    z-index: 6;
    -webkit-transform: rotateZ(328deg);
    transform: rotateZ(328deg);
    background: #d3a66a;
}
.slide3 .span2{
    width: 2.14rem;
    height: .01rem;
    left: 1.12rem;
    top: 3.9rem;
}
.slide3 .span3{
    width: .84rem;
    height: .01rem;
    left: 2.4rem;
    top: 5.6rem;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
.slide3 .span4{
    width: 2.14rem;
    height: .01rem;
    left: 1.2rem;
    top: 7.3rem;
    -webkit-transform: rotateZ(28deg);
    transform: rotateZ(28deg);
}
.slide3 .span5{
    width: 2.25rem;
    height: 2.25rem;
    left: .13rem;
    top: 4.49rem;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    background: transparent;
    border: .01rem solid #d3a66a;
    border-radius: 50%;
}
.slide3 .span6{
    top: 2.79rem;
    left: 3.3rem;
    font-size: .26rem;
    font-weight: bold;
}
.slide3 .span7,.slide3 .span9,.slide3 .span11{
    width: 2.88rem;
    height: 1.72rem;
    line-height: .5rem;
    top: 3.19rem;
    left: 3.3rem;
    font-size: .24rem;
    letter-spacing: normal;
}
.slide3 .span8{
    top: 4.89rem;
    left: 3.3rem;
    font-size: .32rem;
    font-weight: bold;
}
.slide3 .span9{
    top: 5.32rem;
}
.slide3 .span10{
    top: 7.04rem;
    left: 3.3rem;
    font-size: .26rem;
    font-weight: bold;
}
.slide3 .span11{
    top: 7.49rem;
}
#page3 .img1{
    -webkit-animation: flash 2.5s ease 0s infinite both;
    animation: flash 2.5s ease 0s infinite both;
}
#page3 .span1{
    -webkit-animation: right 1.2s ease 0s 1 both;
    animation: right 1.2s ease 0s 1 both;
}
#page3 .img2,#page3 .span5{
    -webkit-animation: zoomIn 1.2s ease 0s 1 both;
    animation: zoomIn 1.2s ease 0s 1 both;
}
#page3 .span2{
    -webkit-animation: left1 1.2s ease .3s 1 both;
    animation: left1 1.2s ease .3s 1 both;
}
#page3 .span3{
    -webkit-animation: left 1.2s ease .4s 1 both;
    animation: left 1.2s ease .4s 1 both;
}
#page3 .span4{
    -webkit-animation: left2 1.2s ease .5s 1 both;
    animation: left2 1.2s ease .5s 1 both;
}
#page3 .span6,#page3 .span7{
    -webkit-animation: right 1.2s ease .4s 1 both;
    animation: right 1.2s ease .4s 1 both;
}
#page3 .span8,#page3 .span9{
    -webkit-animation: right 1.2s ease .5s 1 both;
    animation: right 1.2s ease .5s 1 both;
}
#page3 .span10,#page3 .span11{
    -webkit-animation: right 1.2s ease .6s 1 both;
    animation: right 1.2s ease .6s 1 both;
}
/*--slide4  每个高度都减去了0.41rem--*/
.slide4 .hobby{
    display: inline-block;
    position: absolute;
    z-index: 6;
    -webkit-transform: rotateZ(343deg);
    transform: rotateZ(343deg);
    background: #ffd800;
}
.slide4 .span1{
    width: 2.92rem;
    height: .8rem;
    left: 2.34rem;
    top: 1.17rem;
    background: #9e8603;
}
.slide4 .span2{
    width: 3rem;
    height: .82rem;
    left: 1.94rem;
    top: 1.09rem;
}
.slide4 .span3{
    left: 2.4rem;
    top: 1.19rem;
    font-size: .48rem;
    color: #000;
    background: none;
}
.slide4 .span4{
    width: 5.08rem;
    height: .04rem;
    left: 1.42rem;
    top: 2.31rem;
}
.slide4 .span5{
    width: 3.58rem;
    height: .04rem;
    left: 2.86rem;
    top: 2.39rem;
}
.slide4 .img1{
    top: 4.51rem;
    left: .08rem;
    width: 1.84rem;
    height: 1.8rem;
    -webkit-transform: rotateZ(343deg);
    transform: rotateZ(343deg);
}
.slide4 .text{
    width: 0.42rem;
    height: .96rem;
    line-height: .42rem;
    left: .86rem;
    top: 5.19rem;
    font-size: .36rem;
    -webkit-transform: rotateZ(340deg);
    transform: rotateZ(340deg);
    background: none;
    color: #ffd800;
}
.slide4 .img2{
    top: 3.87rem;
    left: 2.14rem;
    width: 1.84rem;
    height: 1.8rem;
    -webkit-transform: rotateZ(343deg);
    transform: rotateZ(343deg);
}
.slide4 .span7{
    left: 2.9rem;
    top: 4.59rem;
}
.slide4 .img3{
    top: 3.23rem;
    left: 4.24rem;
    width: 1.84rem;
    height: 1.8rem;
    -webkit-transform: rotateZ(343deg);
    transform: rotateZ(343deg);
}
.slide4 .span8{
    left: 5rem;
    top: 3.89rem;
}
.slide4 .span9{
    width: 6.94rem;
    height: .04rem;
    left: -.26rem;
    top: 5.49rem;
}
.slide4 .text1{
    width: 5.58rem;
    height: 1.14rem;
    line-height: .4rem;
    left: .3rem;
    top: 5.89rem;
    color: #ccc;
    background: none;
    font-size: .24rem;
}
.slide4 .span11{
    height: 1.52rem;
    left: .7rem;
    top: 7.09rem;
}
.slide4 .span12{
    height: .76rem;
    left: 1.1rem;
    top: 8.69rem;
}
#page4 .span1{
    -webkit-animation: bounceInLeft1 1s ease .2s 1 both;
    animation: bounceInLeft1 1s ease .2s 1 both;
}
#page4 .span2,#page4 .span3{
    -webkit-animation: bounceInLeft1 1s ease .4s 1 both;
    animation: bounceInLeft1 1s ease .4s 1 both;
}
#page4 .span4{
    -webkit-animation: left4 .8s ease .6s 1 both;
    animation: left4 .8s ease .6s 1 both;
}
#page4 .span5{
    -webkit-animation: left4 .6s ease .8s 1 both;
    animation: left4 .6s ease .8s 1 both;
}
#page4 .img1,#page4 .span6{
    -webkit-animation: left3 .6s ease 1.2s 1 both;
    animation: left3 .6s ease 1.2s 1 both;
}
#page4 .img2,#page4 .span7{
    -webkit-animation: left3 .6s ease 1.4s 1 both;
    animation: left3 .6s ease 1.4s 1 both;
}
#page4 .img3,#page4 .span8{
    -webkit-animation: left3 .6s ease 1.6s 1 both;
    animation: left3 .6s ease 1.6s 1 both;
}
#page4 .span9{
    -webkit-animation: left4 .6s ease 1s 1 both;
    animation: left4 .6s ease 1s 1 both;
}
#page4 .span10,#page4 .span11,#page4 .span12{
    -webkit-animation: left4 .8s ease 1.8s 1 both;
    animation: left4 .8s ease 1.8s 1 both;
}
/*--slide5  每个高度都减去了0.82rem 上面一排减去0.41--*/
.slide5 .span1{
    left: .7rem;
    top: 1.09rem;
    font-size: .48rem;
    letter-spacing: normal;
}
.slide5 .span2{
    left: 3.5rem;
    top: 1.22rem;
    font-size: .32rem;
    letter-spacing: normal;
}
.slide5 .img1{
    top: 1.29rem;
    left: .68rem;
    width: 5.04rem;
    height: 1.32rem;
}
.slide5 .rgb{
    left: .68rem;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.298039);
}
.slide5 .text{
    left: 1.7rem;
    width: 3.43rem;
    height: 0.4rem;
    /*font-size: .1rem;*/
    letter-spacing: normal;
    padding: .3rem;
    background: rgba(0, 0, 0, 0.298039);
}
.slide5 .img2,.slide5 .span3{
    top: 4.6rem;
}
.slide5 .img3,.slide5 .span4{
    top: 5.61rem;
}
.slide5 .img4,.slide5 .span5{
    top: 6.63rem;
}
.slide5 .img5,.slide5 .span6{
    top: 7.65rem;
}
#page5 .span1,#page5 .span2{
    -webkit-animation: left .6s ease .4s 1 both;
    animation: left .6s ease .4s 1 both;
}
#page5 .img1{
    -webkit-animation: left .6s ease .6s 1 both;
    animation: left .6s ease .6s 1 both;
}
#page5 .img2{
    -webkit-animation: fadeInUp .8s ease .6s 1 both;
    animation: fadeInUp .8s ease .6s 1 both;
}
#page5 .span3{
    -webkit-animation: right 1s ease .8s 1 both;
    animation: right 1s ease .8s 1 both;
}
#page5 .img3{
    -webkit-animation: fadeInUp .8s ease .8s 1 both;
    animation: fadeInUp .8s ease .8s 1 both;
}
#page5 .span4{
    -webkit-animation: right 1s ease 1s 1 both;
    animation: right 1s ease 1s 1 both;
}
#page5 .img4{
    -webkit-animation: fadeInUp .8s ease 1s 1 both;
    animation: fadeInUp .8s ease 1s 1 both;
}
#page5 .span5{
    -webkit-animation: right 1s ease 1.2s 1 both;
    animation: right 1s ease 1.2s 1 both;
}
#page5 .img5{
    -webkit-animation: fadeInUp .8s ease 1.2s 1 both;
    animation: fadeInUp .8s ease 1.2s 1 both;
}
#page5 .span6{
    -webkit-animation: right 1s ease 1.4s 1 both;
    animation: right 1s ease 1.4s 1 both;
}

@-webkit-keyframes imgMove {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes imgMove {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}
@keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    0%{
        opacity: 0;
        -webkit-transform: scale(.3,.3);
        transform: scale(.3,.3);
    }
    100%{
        opacity: 1;
    }
}
@keyframes zoomIn {
    0%{
        opacity: 0;
        -webkit-transform: scale(.3,.3);
        transform: scale(.3,.3);
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes outMove {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-.3rem);
        transform: translateY(-.3rem);
    }
    100%{
        opacity: 1;
    }
}
@keyframes outMove {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-.3rem);
        transform: translateY(-.3rem);
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes right {
    0%{
        opacity: 0;
        -webkit-transform: translateX(1.3rem);
        transform: translateX(1.3rem);
    }
    100%{
        opacity: 1;
    }
}
@keyframes right {
    0%{
        opacity: 0;
        -webkit-transform: translateX(1.3rem);
        transform: translateX(1.3rem);
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes left {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-1.3rem);
        transform: translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes left {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-1.3rem);
        transform: translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes left1 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(328deg) translateX(-1.3rem);
        transform: rotateZ(328deg) translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(328deg);
        transform: rotateZ(328deg);
    }
}
@keyframes left1 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(328deg) translateX(-1.3rem);
        transform: rotateZ(328deg) translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(328deg);
        transform: rotateZ(328deg);
    }
}

@-webkit-keyframes left2 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(28deg) translateX(-1.3rem);
        transform: rotateZ(28deg) translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(28deg);
        transform: rotateZ(28deg);
    }
}
@keyframes left2 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(28deg) translateX(-1.3rem);
        transform: rotateZ(28deg) translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(28deg);
        transform: rotateZ(28deg);
    }
}

@-webkit-keyframes left3 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(343deg) translateX(-1.3rem);
        transform: rotateZ(343deg) translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }
}
@keyframes left3 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(343deg) translateX(-1.3rem);
        transform: rotateZ(343deg) translateX(-1.3rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }
}

@-webkit-keyframes left4 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(343deg) translateX(-100%);
        transform: rotateZ(343deg) translateX(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }
}
@keyframes left4 {
    0%{
        opacity: 0;
        -webkit-transform: rotateZ(343deg) translateX(-100%);
        transform: rotateZ(343deg) translateX(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }
}

@-webkit-keyframes arrow {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes arrow {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInLeft1 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }

    0% {
        opacity: 0;
        -webkit-transform: rotateZ(343deg) translate3d(-3000px, 0, 0);
        transform: rotateZ(343deg) translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: rotateZ(343deg) translate3d(25px, 0, 0);
        transform: rotateZ(343deg) translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: rotateZ(343deg) translate3d(-10px, 0, 0);
        transform: rotateZ(343deg) translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: rotateZ(343deg) translate3d(5px, 0, 0);
        transform: rotateZ(343deg) translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }
}
@keyframes bounceInLeft1 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }

    0% {
        opacity: 0;
        -webkit-transform: rotateZ(343deg) translate3d(-3000px, 0, 0);
        transform: rotateZ(343deg) translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: rotateZ(343deg) translate3d(25px, 0, 0);
        transform: rotateZ(343deg) translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: rotateZ(343deg) translate3d(-10px, 0, 0);
        transform: rotateZ(343deg) translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: rotateZ(343deg) translate3d(5px, 0, 0);
        transform: rotateZ(343deg) translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateZ(343deg);
        transform: rotateZ(343deg);
    }
}

@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}
@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/*下面的分布式翻页*/
.swiper-pagination{
    color: #fff;
    text-align: right;
    bottom: 0;
}
/*下面的向上翻页小箭头*/
.flip .inner{
    position: absolute;
    left: 3rem;
    bottom: 0.3rem;
    z-index: 10;
    width: .15rem;
    height: .16rem;
    border-top: .1rem solid #fff;
    border-right: .1rem solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: .06rem;
}

#flip .inner{
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0,10px) rotate(-45deg);
        transform: translate(0,10px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0) rotate(-45deg);
        transform: translate(0,0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0,-8px) rotate(-45deg);
        transform: translate(0,-8px) rotate(-45deg);
    }
}
@keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0,10px) rotate(-45deg);
        transform: translate(0,10px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0) rotate(-45deg);
        transform: translate(0,0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0,-8px) rotate(-45deg);
        transform: translate(0,-8px) rotate(-45deg);
    }
}









